<table>
    <thead>
        <tr>
            <th>{{t "label_name"}}</th>
            <th>{{t "label_paths"}}</th>
            <th>{{t "label_email"}}</th>
            <th>{{t "label_phone"}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |member|}}
            <tr>
                <td>{{member.fullName}}</td>
                <td></td>
                <td>{{member.email}}</td>
                <td>{{member.phone}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>